h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Poppins', Helvetica, sans-serif;
  line-height: 1.65em;
}

.page-content {
  max-width: 1280px;
  min-height: 80vh;
  margin: 10vh auto;
  background-color: #04b4e0;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
  border-radius: 32px;
  backface-visibility: hidden;
}

.header {
  width: 100%;
  text-align: center;
  padding: 35px 0px 80px;
}

.header-photo {
  position: relative;
  margin: 0 auto 30px;
  z-index: 1;
  float: right;
}

.header-titles {
  padding-top: 20px;
}

.header-titles h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin: 5px 0 7px;
  line-height: 1.2em;
}

.header-titles h4 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin: 5px 0;
  line-height: 1.2em;
}

.social-links {
  margin: 20px 0;

}

.social-links ul {
  list-style: none;
}

.social-links ul li {
  display: inline;
}


.social-links ul li a {
  padding: 0px 5px 0 25px;
}

.header .copyrights {
  color: #fff;
  width: 380px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px 15px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.content-area {
  position: absolute;
  right: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 380px);
}

.animated-section {
  position: absolute;
  background-color: #fff;
  border-radius: 30px;
  backface-visibility: hidden;
}

.page-title {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.page-title h2 {
  position: relative;
  font-size: 32px;
  z-index: 1;
}

.col-sm-7 {
  width: 66.333333%;
  float: left;
}

.col-sm-5 {
  width: 33.666667%;
  float: right;

}

.block-title {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.block-title h3 {
  position: relative;
  font-size: 21px;
  z-index: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.white-space-50 {
  padding-bottom: 50px;
}

.timeline-second-style .timeline-item {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 15px;
}

.timeline-second-style .left-part {
  width: 30%;
  display: table-cell;
  padding-right: 25px;
  min-height: 100%;
  text-align: right;
  vertical-align: top;
}

.timeline-second-style .item-period {
  margin: 3px 0;
  font-size: 14px;
  line-height: 1.4em;
}

.timeline-second-style .item-company {
  display: block;
  margin: 0 0 4px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.45em;
  color: #a5a6a7;
}

.timeline-second-style .divider {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}

.timeline-second-style .divider:before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-left: -8px;
  border-radius: 10px;
  background-color: #04b4e0;
  opacity: .25;
  z-index: 0;
}

.timeline-second-style .divider:after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #04b4e0;
  z-index: 1;
}

.timeline-second-style .right-part {
  width: 70%;
  display: table-cell;
  padding-left: 25px;
  padding-right: 15px;
  vertical-align: top;
}

.timeline-second-style .item-title {
  font-size: 16px;
  margin-bottom: 3px;
}

.timeline-second-style .right-part p, .timeline-second-style .right-part p > * {
  font-size: 0.92em;
}

p {
  margin-bottom: 10px;
}

.skills-info.skills-second-style h4 {
  font-size: 13px;
  line-height: 1.1em;
  position: relative;
  /*float: left;*/
  margin: 0 0 4px;
}

ul[class], ol[class] {
  list-style: none;
}

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul, ol {
  padding: 0;
}

.knowledges li {
  display: inline-block;
  background-color: #04b4e0;
  border-radius: 3px;
  color: #fff;
  padding: 1px 10px;
  margin: 3px 2px;
  font-size: 13px;
}