<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="01-devinition-vat-optimizer.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="03-proxiad-bill-manager.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Bookie Portal</h1>
      <h3>(Devinition)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>OCT 2007 - DEC 2007</p></li>
            <li><p><i class="fa fa-pen"></i>WEB System for searching gambling arbitrages based on site scraping and html parsing.</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Web sites scraping (Java)</p>
            <p class="text-justify">Java WEB Development (Tapestry)</p>
            <p class="text-justify">Working following agile software development principles (Extreme Programming)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 5</a></li>
              <li><a>Tapestry</a></li>
              <li><a>Extreme programming</a></li>
              <li><a>PostgreSQL</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
