<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="02-devinition-bookie-portal.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="04-proxiad-pdf-mapper.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Bill Manager</h1>
      <h3>(Proxiad)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>APR 2008 - JAN 2011</p></li>
            <li><p><i class="fa fa-pen"></i>Development components for electronic invoicing system including validation and messages transformation with Seeburger's BPM solutions (BIC/BIS), design of XSD and XSL Transformation.</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Implementing client specific plugins (Java)</p>
            <p class="text-justify">XML Technologies (XML, XSL, XSD, xPath, XSL-FO Transformation)</p>
            <p class="text-justify">Any-To-Any data format converting (SEEBURGER BIC Mapping Designer)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 5</a></li>
              <li><a>SEEBURGER BIC Mapping Designer</a></li>
              <li><a>XML</a></li>
              <li><a>XSL</a></li>
              <li><a>XSD</a></li>
              <li><a>xPath</a></li>
              <li><a>XSL-FO Transformation</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
