<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="03-proxiad-bill-manager.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="05-comverse-reporting-tool.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Pdf Mapper</h1>
      <h3>(Proxiad)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>JAN 2011 - JAN 2014</p></li>
            <li><p><i class="fa fa-pen"></i>Developing solution for reading, extracting, transforming and validating data in PDF invoice files. Leading a Vietnamese dev team, performing knowledge transfers and code reviews, while trying to motivate them to apply the best-known coding practices.</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Implementing client specific plugins for reading, extracting, transforming and validating data in PDF invoice files (Groovy)</p>
            <p class="text-justify">Leading a team of Vietnamese developers while transferring technology knowledge (Team management | Mentoring)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Groovy</a></li>
              <li><a>XML</a></li>
              <li><a>xPath</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
