<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="04-proxiad-pdf-mapper.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="06-comverse-billing.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Reporting Tool</h1>
      <h3>(Comverse)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>FEB 2014 - MAY 2014</p></li>
            <li><p><i class="fa fa-pen"></i>Web based reporting tool generating pdf reports with cron jobs and JasperReports, and storing them for subsequent view and analyse.</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">PDF Reporting engines (JasperReports)</p>
            <p class="text-justify">WEB Development with Groovy-based application framework (Grails)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Groovy</a></li>
              <li><a>Grails</a></li>
              <li><a>Tomcat 7</a></li>
              <li><a>JasperReports</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
