<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="06-comverse-billing.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="08-dreamix-global-view.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Migration</h1>
      <h3>(Luxoft)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>JAN 2015 - NOV 2016</p></li>
            <li><p><i class="fa fa-pen"></i>Development of Java core backend for transforming bunch of Oracle tables and data. Also development of small SPA used for representation of migrated data.</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Frontend WEB Development (Angular.js)</p>
            <p class="text-justify">WEB Development with REST architectural principles</p>
            <p class="text-justify">ORM technologies (Hibernate)</p>
            <p class="text-justify">Java WEB Development (Spring)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 7</a></li>
              <li><a>Spring</a></li>
              <li><a>Hibernate</a></li>
              <li><a>Tomcat 7</a></li>
              <li><a>Oracle</a></li>
              <li><a>Angular.js</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
