<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="07-luxoft-migration.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="09-personal-microservices.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Global View</h1>
      <h3>(Dreamix)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>NOV 2016 - NOV 2017</p></li>
            <li><p><i class="fa fa-pen"></i>Refactoring parts of an existing monolithic application into microservices</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Microservices technologies</p>
            <p class="text-justify">Hands on experience in refactoring monolithic application into microservices</p>
            <p class="text-justify">WEB Development with REST architectural principles</p>
            <p class="text-justify">Project architecture design</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 8</a></li>
              <li><a>Spring Boot</a></li>
              <li><a>Microservices</a></li>
              <li><a>Project Management</a></li>
              <li><a>Product Architecture</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
