<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="08-dreamix-global-view.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="10-dreamix-insis.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Microservices</h1>
      <h3>(Personal)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>DEC 2017 - FEB 2018</p></li>
            <li><p><i class="fab fa-github"></i><a href="https://github.com/isilona/microservices" target="_blank">GitHub</a></p></li>
            <li><p><i class="fab fa-medium"></i><a href="https://medium.com/@isilona/building-microservices-with-netflix-oss-apache-kafka-and-spring-boot-part-1-3397811a2781" target="_blank">Medium</a></p></li>
            <li><p><i class="fa fa-pen"></i>Microservices project build with Netflix OSS, Apache Kafka and Spring Boot. After publishing it, was reached by DZone with request to re-post it there :) </p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Experience with messaging brokers (Kafka)</p>
            <p class="text-justify">Microservice development with Netflix OSS stack</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 8</a></li>
              <li><a>Spring Boot</a></li>
              <li><a>Netflix OSS</a></li>
              <li><a>Open Source</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
