<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="10-dreamix-insis.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="12-personal-reporting-tool.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>AMPS</h1>
      <h3>(The Stars Group)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fa fa-calendar"></i>AUG 2018 - MAY 2019</p></li>
            <li><p><i class="fa fa-pen"></i>Web based application for showing all the players data used by the support agents in The Stars Group</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Project technical guidance experience</p>
            <p class="text-justify">Junior developers mentoring</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 8</a></li>
              <li><a>Spring Boot</a></li>
              <li><a>Mentoring</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
