<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="11-stars-amps.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="13-consulting-fingates.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>Reporting Tool</h1>
      <h3>(Personal)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fab fa-github"></i><a href="https://github.com/isilona/reporting-tool" target="_blank">GitHub</a></p></li>
            <li><p><i class="fa fa-link"></i><a href="https://reporting-demo.herokuapp.com/" target="_blank">Live (Heroku)</a></p></li>
            <li><p><i class="fas fa-bug"></i><a href="https://sonarcloud.io/dashboard?id=com.isilona%3Areporting" target="_blank">Code Quality (SonarCloud)</a></p></li>
            <li><p><i class="fa fa-calendar"></i>MAY 2019</p></li>
            <li><p><i class="fa fa-pen"></i>Interview project based on employer requirements. Including Development and deployment of a service that gathers info from client's source and gives search / filter functionalities over it </p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Project architecture design</p>
            <p class="text-justify">CI/CD (Travis / Heroku)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 8</a></li>
              <li><a>Spring Boot</a></li>
              <li><a>Thymeleaf</a></li>
              <li><a>CI/CD (Travis)</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
