<div class="ajax-page-content" id="ajax-page">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-prev-next">
        <a class="ajax-page-load" href="13-consulting-fingates.html"><i class="lnr lnr-chevron-left"></i></a>
        <a class="ajax-page-load" href="15-consulting-moew.html"><i class="lnr lnr-chevron-right"></i></a>
      </div>
      <div class="nav-item ajax-page-close-button">
        <a href="#" id="ajax-page-close-button"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>

    <div class="ajax-page-title">
      <h1>myCV</h1>
      <h3>(Personal)</h3>
    </div>

    <div class="row">
      <!-- col-sm-8 col-md-8 portfolio-block -->
      <div class="col-sm-8 col-md-8 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3>Description</h3>
          </div>
          <ul class="project-general-info">
            <li><p><i class="fab fa-bitbucket"></i><a href="https://bitbucket.org/isilona/" target="_blank">BitBucket</a></p></li>
            <li><p><i class="fa fa-link"></i><a href="http://isilona.com" target="_blank">Live (Beta/AWS)</a></p></li>
            <li><p><i class="fas fa-bug"></i><a href="https://sonarcloud.io/dashboard?id=isilona_mycv-be" target="_blank">Code Quality (SonarCloud)</a></p></li>
            <li><p><i class="fa fa-calendar"></i>OCT 2020 - DEC 2020</p></li>
            <li><p><i class="fa fa-pen"></i>Self educational project to play with some technologies</p></li>
          </ul>
          <!-- /Project Description -->

          <br/>

          <!-- Project Gains -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Gains</h3>
            </div>
            <p class="text-justify">Project architecture design</p>
            <p class="text-justify">Getting familiar with cloud technologies (AWS)</p>
            <p class="text-justify">Getting familiar with Infrastructure as code (IaC) (CloudFormation)</p>
            <p class="text-justify">Ci/CD (BitBucket Pipelines)</p>
            <p class="text-justify">Java WEB Development (Quarqus)</p>
            <p class="text-justify">Externalize security (OKTA)</p>
          </div>
          <!-- /Project Gains -->

          <!-- Technology -->
          <div class="tags-block">
            <div class="block-title">
              <h3>Technology</h3>
            </div>
            <ul class="tags">
              <li><a>Java 13</a></li>
              <li><a>Quarqus</a></li>
              <li><a>Gradle</a></li>
              <li><a>Ci/CD (BitBucket Pipelines)</a></li>
              <li><a>AWS</a></li>
              <li><a>Gradle</a></li>
              <li><a>OKTA</a></li>
            </ul>
          </div>
          <!-- /Technology -->
        </div>
        <!-- Project Description -->
      </div>
    </div>
  </div>
</div>
