<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <link href="http://myCv-cf-load-balancer-639765001.eu-central-1.elb.amazonaws.com/pdfTemplates/style.css" media="all" rel="stylesheet" type="text/css"/>
    <title>Iskren Ivanov - Resume / CV</title>
  </head>

  <body class="">
    <div class="page">
      <div class="page-content">
        <div class="header mobile-menu-hide" id="site_header">
          <div class="header-content">
            <div class="header-photo">
              <img alt="Iskren Ivanov" id="myCv-index-profile-image" src="profile.png"/>
            </div>
            <div class="header-titles">
              <h2 id="myCv-index-name">[[${personalData.getFirstName()}]] [[${personalData.getLastName()}]]</h2>
              <h4 id="myCv-index-title">[[${personalData.getTitle().getBase()}]]</h4>
            </div>

            <div class="social-links">
              <ul id="myCv-index-social-links">
                <th:block th:each="socialLink: ${personalData.getSocialLinks()}">
                  <li>
                    <a target="_blank'" th:href="${socialLink.getUrl()}" th:style="'background: url(' +  ${#strings.substringAfter(socialLink.getFaClass(), '-')}     + '.png) no-repeat;'"></a>
                  </li>
                </th:block>
              </ul>
            </div>

          </div>

        </div>

        <div class="content-area">
          <div class="animated-sections">
            <div class="animated-section ps ps--theme_default section-active ps--active-y" data-id="resume" data-ps-id="f26b9a43-24c1-e794-bbe7-d6d60f9349ef">

              <br/>

              <div class="section-content">

                <div class="row">
                  <div class="col-xs-12 col-sm-7">

                    <!-- EXPERIENCE -->
                    <div class="block-title">
                      <h3>Experience</h3>
                    </div>

                    <div class="timeline timeline-second-style clearfix" id="myCv-resume-experience">
                      <div class="timeline-item clearfix" th:each="occupation: ${experienceData}">
                        <div class="left-part">
                          <h5 class="item-period">
                            [[${occupation.getStartDate}]] <br/> [[${occupation.getEndDate}]]
                          </h5>
                          <span class="item-company">[[${occupation.getCompany().getName()}]]</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">[[${occupation.getPosition}]]</h4>
                          <p>[[${occupation.getDescription}]]</p>
                        </div>
                      </div>

                    </div>

                    <!-- EXPERIENCE END -->

                    <div class="white-space-50"></div>

                    <!-- EDUCATION -->

                    <div class="block-title">
                      <h3>Education</h3>
                    </div>

                    <div class="timeline timeline-second-style clearfix" id="myCv-resume-education">
                      <div class="timeline-item clearfix" th:each="education: ${educationData}">
                        <div class="left-part">
                          <h5 class="item-period">
                            [[${education.getStartDate}]] <br/> [[${education.getEndDate}]]
                          </h5>
                          <span class="item-company">[[${education.getCompany().getName()}]]</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">[[${education.getPosition}]]</h4>
                          <p>[[${education.getDescription}]]</p>
                        </div>
                      </div>
                    </div>

                    <!-- EDUCATION END -->

                  </div>

                  <!-- Skills & Certificates -->
                  <div class="col-xs-12 col-sm-5">

                    <!-- Knowledges -->

                    <div class="block-title">
                      <h3>Knowledges</h3>
                    </div>
                    <div class="skills-info skills-second-style" id="myCv-resume-knowledge">

                      <th:block th:each="skillBucket: ${knowledgeData.getSkillBuckets()}">

                        <div class="skill clearfix">
                          <h4>[[${skillBucket.key}]]</h4>
                        </div>

                        <ul class="knowledges">
                          <th:block th:each="skillBucket: ${skillBucket.value}">
                            <li>[[${skillBucket}]]</li>
                          </th:block>
                        </ul>
                        <br/>
                      </th:block>

                    </div>

                    <!-- End of Knowledges -->
                  </div>
                  <!-- End of Skills & Certificates -->
                </div>

                <div class="white-space-50"></div>

                <!-- Certificates -->
                <!-- End of Certificates -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>